<!doctype html>
<html lang="en">
<body>
  <h1>Editing branching wizard</h1>
  {% if request.wizard_back_url %}
    <p><a href="{{ request.wizard_back_url }}">Back</a></p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Continue</button>
  </form>
  <h2>Edit prior answers</h2>
  <ul>
    <li><a href="../account_type/">Edit account type</a></li>
    <li><a href="../business_name/">Edit business name</a></li>
    <li><a href="../preferred_name/">Edit preferred name</a></li>
  </ul>
</body>
</html>
